<!-- This example requires Tailwind CSS v2.0+ -->
<div class="h-screen flex overflow-hidden bg-gray-100">
  <!-- Static sidebar for desktop -->
  <div class="hidden md:flex md:flex-shrink-0">
    <div class="flex flex-col w-64">
      <!-- Sidebar component, swap this element with another sidebar if you like -->
      <div class="flex flex-col h-0 flex-1 bg-gray-800">
        <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
          <div class="flex items-center flex-shrink-0 px-4 text-white text-4xl">
            Robust<span class="font-bold">UI</span>
          </div>
          <nav class="mt-5 flex-1 px-2 bg-gray-800 space-y-1">
            <button *ngFor="let component of components" (click)="activeComponent = component" class="bg-gray-900 w-full text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md">
              {{component.label}}
            </button>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-0 flex-1 overflow-hidden">
    <div class="md:hidden pl-1 pt-1 sm:pl-3 sm:pt-3">
      <button class="-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
        <span class="sr-only">Open sidebar</span>
        <!-- Heroicon name: menu -->
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
    <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none" tabindex="0">
      <div class="pb-6 h-full flex flex-col">
        <div class="w-full px-8 bg-gray-800 border-b-2 border-gray-500">
          <nav class="-mb-px flex gap-4 w-full" aria-label="Tabs">
            <a href="#" class="border-purple-500 text-white bg-gray-700 py-4 px-1 text-center border-b-2 font-medium text-sm flex items-center gap-2">
              System
              <span class="rounded-full hover:bg-gray-500">
                <svg stroke="currentColor" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
                  <path stroke-width="2.5" stroke-linecap="round" stroke-miterlimit="10" d="M15 15l10 10M25 15L15 25"/>
                </svg>
              </span>
            </a>
            <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 py-4 px-1 text-center border-b-2 font-medium text-sm flex items-center gap-2">
              Xor-state
              <span class="rounded-full hover:bg-gray-500">
                <svg stroke="currentColor" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
                  <path stroke-width="2.5" stroke-linecap="round" stroke-miterlimit="10" d="M15 15l10 10M25 15L15 25"/>
                </svg>
              </span>
            </a>
            <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
            <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 py-4 px-1 text-center border-b-2 font-medium text-sm flex items-center gap-2">
              Foo
              <span class="rounded-full hover:bg-gray-500">
                <svg stroke="currentColor" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
                  <path stroke-width="2.5" stroke-linecap="round" stroke-miterlimit="10" d="M15 15l10 10M25 15L15 25"/>
                </svg>
              </span>
            </a>
          </nav>
        </div>
        <div class="w-full px-8 h-full">
          <!-- Replace with your content -->
          <!-- <router-outlet></router-outlet> -->
          <div>
            <app-model-checker></app-model-checker>
          </div>
          <div class="py-4 h-full">
            <app-designpad [component]="activeComponent"></app-designpad>
          </div>
          <!-- /End replace -->
        </div>
      </div>
    </main>
  </div>
</div>
